body {
  background: darkcyan;
}

img {
  position: absolute;
}

#base {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100px;
  height: 100px;
}

#artist {
  position: absolute;
  top: 0px;
  right: 0px;
}

#artist img {
  right: 0px;
  width: 234px;
}