@font-face {
  font-family: 'amgui';
  src: url('../font/amgui.eot?68529050');
  src: url('../font/amgui.eot?68529050#iefix') format('embedded-opentype'),
       url('../font/amgui.woff?68529050') format('woff'),
       url('../font/amgui.ttf?68529050') format('truetype'),
       url('../font/amgui.svg?68529050#amgui') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'amgui';
    src: url('../font/amgui.svg?68529050#amgui') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "amgui";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-download-cloud:before { content: '\73'; } /* 's' */
.icon-upload-cloud:before { content: '\75'; } /* 'u' */
.icon-key:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-angle-right:before { content: '\e802'; } /* '' */
.icon-angle-down:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-plus-squared:before { content: '\e806'; } /* '' */
.icon-pause:before { content: '\e807'; } /* '' */
.icon-file-code:before { content: '\e808'; } /* '' */
.icon-floppy:before { content: '\e809'; } /* '' */
.icon-folder-add:before { content: '\e80a'; } /* '' */
.icon-folder-empty:before { content: '\e80b'; } /* '' */
.icon-folder-open-empty:before { content: '\e80c'; } /* '' */
.icon-doc:before { content: '\e80d'; } /* '' */
.icon-git:before { content: '\e80e'; } /* '' */
.icon-blank:before { content: '\e80f'; } /* '' */
.icon-bullseye:before { content: '\e810'; } /* '' */
.icon-dropbox:before { content: '\e811'; } /* '' */
.icon-evernote:before { content: '\e812'; } /* '' */
.icon-hdd:before { content: '\e813'; } /* '' */
.icon-emo-unhappy:before { content: '\e814'; } /* '' */
.icon-marquee:before { content: '\e815'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-wrench:before { content: '\e817'; } /* '' */
.icon-sliders:before { content: '\e818'; } /* '' */
.icon-code:before { content: '\e819'; } /* '' */
.icon-history:before { content: '\e81a'; } /* '' */
.icon-chart-bar:before { content: '\e81b'; } /* '' */
.icon-paw:before { content: '\e81c'; } /* '' */
.icon-rebel:before { content: '\e81d'; } /* '' */
.icon-empire:before { content: '\e81e'; } /* '' */
.icon-rocket:before { content: '\e81f'; } /* '' */
.icon-scissors:before { content: '\e820'; } /* '' */
.icon-cw:before { content: '\e821'; } /* '' */
.icon-ccw:before { content: '\e822'; } /* '' */
.icon-cancel:before { content: '\e823'; } /* '' */
.icon-cube:before { content: '\e824'; } /* '' */
.icon-terminal:before { content: '\e825'; } /* '' */
.icon-megaphone:before { content: '\e826'; } /* '' */
.icon-plus:before { content: '\e827'; } /* '' */
.icon-emo-surprised:before { content: '\e828'; } /* '' */
.icon-down-circled2:before { content: '\e829'; } /* '' */
.icon-angle-left:before { content: '\e82a'; } /* '' */
.icon-angle-up:before { content: '\e82b'; } /* '' */