
.icon-download-cloud:before { content: '\73'; } /* 's' */
.icon-upload-cloud:before { content: '\75'; } /* 'u' */
.icon-key:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-angle-right:before { content: '\e802'; } /* '' */
.icon-angle-down:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-plus-squared:before { content: '\e806'; } /* '' */
.icon-pause:before { content: '\e807'; } /* '' */
.icon-file-code:before { content: '\e808'; } /* '' */
.icon-floppy:before { content: '\e809'; } /* '' */
.icon-folder-add:before { content: '\e80a'; } /* '' */
.icon-folder-empty:before { content: '\e80b'; } /* '' */
.icon-folder-open-empty:before { content: '\e80c'; } /* '' */
.icon-doc:before { content: '\e80d'; } /* '' */
.icon-git:before { content: '\e80e'; } /* '' */
.icon-blank:before { content: '\e80f'; } /* '' */
.icon-bullseye:before { content: '\e810'; } /* '' */
.icon-dropbox:before { content: '\e811'; } /* '' */
.icon-evernote:before { content: '\e812'; } /* '' */
.icon-hdd:before { content: '\e813'; } /* '' */
.icon-emo-unhappy:before { content: '\e814'; } /* '' */
.icon-marquee:before { content: '\e815'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-wrench:before { content: '\e817'; } /* '' */
.icon-sliders:before { content: '\e818'; } /* '' */
.icon-code:before { content: '\e819'; } /* '' */
.icon-history:before { content: '\e81a'; } /* '' */
.icon-chart-bar:before { content: '\e81b'; } /* '' */
.icon-paw:before { content: '\e81c'; } /* '' */
.icon-rebel:before { content: '\e81d'; } /* '' */
.icon-empire:before { content: '\e81e'; } /* '' */
.icon-circle-thin:before { content: '\e81f'; } /* '' */
.icon-scissors:before { content: '\e820'; } /* '' */
.icon-cw:before { content: '\e821'; } /* '' */
.icon-ccw:before { content: '\e822'; } /* '' */
.icon-cancel:before { content: '\e823'; } /* '' */
.icon-cube:before { content: '\e824'; } /* '' */
.icon-terminal:before { content: '\e825'; } /* '' */
.icon-megaphone:before { content: '\e826'; } /* '' */
.icon-plus:before { content: '\e827'; } /* '' */
.icon-emo-surprised:before { content: '\e828'; } /* '' */
.icon-down-circled2:before { content: '\e829'; } /* '' */
.icon-angle-left:before { content: '\e82a'; } /* '' */
.icon-angle-up:before { content: '\e82b'; } /* '' */
.icon-resize-small:before { content: '\e82c'; } /* '' */
.icon-resize-full:before { content: '\e82d'; } /* '' */
.icon-eye:before { content: '\e82e'; } /* '' */
.icon-eye-off:before { content: '\e82f'; } /* '' */
.icon-menu:before { content: '\e830'; } /* '' */
.icon-circle-empty:before { content: '\e831'; } /* '' */
.icon-circle:before { content: '\e832'; } /* '' */
.icon-ellipsis-vert:before { content: '\e833'; } /* '' */
.icon-ellipsis:before { content: '\e834'; } /* '' */
.icon-sitemap:before { content: '\e835'; } /* '' */
.icon-expand:before { content: '\e836'; } /* '' */
.icon-collapse:before { content: '\e837'; } /* '' */
.icon-pencil:before { content: '\e838'; } /* '' */