
.icon-download-cloud:before { content: '\73'; } /* 's' */
.icon-upload-cloud:before { content: '\75'; } /* 'u' */
.icon-key:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-angle-right:before { content: '\e802'; } /* '' */
.icon-angle-down:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-plus-squared:before { content: '\e806'; } /* '' */
.icon-pause:before { content: '\e807'; } /* '' */
.icon-file-code:before { content: '\e808'; } /* '' */
.icon-floppy:before { content: '\e809'; } /* '' */
.icon-folder-add:before { content: '\e80a'; } /* '' */
.icon-folder-empty:before { content: '\e80b'; } /* '' */
.icon-folder-open-empty:before { content: '\e80c'; } /* '' */
.icon-doc:before { content: '\e80d'; } /* '' */
.icon-git:before { content: '\e80e'; } /* '' */
.icon-blank:before { content: '\e80f'; } /* '' */
.icon-bullseye:before { content: '\e810'; } /* '' */
.icon-dropbox:before { content: '\e811'; } /* '' */
.icon-evernote:before { content: '\e812'; } /* '' */
.icon-hdd:before { content: '\e813'; } /* '' */
.icon-emo-unhappy:before { content: '\e814'; } /* '' */
.icon-marquee:before { content: '\e815'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-wrench:before { content: '\e817'; } /* '' */
.icon-sliders:before { content: '\e818'; } /* '' */
.icon-code:before { content: '\e819'; } /* '' */
.icon-history:before { content: '\e81a'; } /* '' */
.icon-down-dir:before { content: '\e81b'; } /* '' */
.icon-paw:before { content: '\e81c'; } /* '' */
.icon-rebel:before { content: '\e81d'; } /* '' */
.icon-empire:before { content: '\e81e'; } /* '' */
.icon-circle-thin:before { content: '\e81f'; } /* '' */
.icon-scissors:before { content: '\e820'; } /* '' */
.icon-cw:before { content: '\e821'; } /* '' */
.icon-ccw:before { content: '\e822'; } /* '' */
.icon-cancel:before { content: '\e823'; } /* '' */
.icon-cube:before { content: '\e824'; } /* '' */
.icon-terminal:before { content: '\e825'; } /* '' */
.icon-megaphone:before { content: '\e826'; } /* '' */
.icon-plus:before { content: '\e827'; } /* '' */
.icon-emo-surprised:before { content: '\e828'; } /* '' */
.icon-down-circled2:before { content: '\e829'; } /* '' */
.icon-angle-left:before { content: '\e82a'; } /* '' */
.icon-angle-up:before { content: '\e82b'; } /* '' */
.icon-resize-small:before { content: '\e82c'; } /* '' */
.icon-resize-full:before { content: '\e82d'; } /* '' */
.icon-eye:before { content: '\e82e'; } /* '' */
.icon-eye-off:before { content: '\e82f'; } /* '' */
.icon-menu:before { content: '\e830'; } /* '' */
.icon-circle-empty:before { content: '\e831'; } /* '' */
.icon-circle:before { content: '\e832'; } /* '' */
.icon-ellipsis-vert:before { content: '\e833'; } /* '' */
.icon-ellipsis:before { content: '\e834'; } /* '' */
.icon-sitemap:before { content: '\e835'; } /* '' */
.icon-expand:before { content: '\e836'; } /* '' */
.icon-collapse:before { content: '\e837'; } /* '' */
.icon-pencil:before { content: '\e838'; } /* '' */
.icon-cursor:before { content: '\e839'; } /* '' */
.icon-resize-horizontal:before { content: '\e83a'; } /* '' */
.icon-move:before { content: '\e83b'; } /* '' */
.icon-resize-vertical:before { content: '\e83c'; } /* '' */
.icon-google:before { content: '\e83d'; } /* '' */
.icon-check:before { content: '\e83e'; } /* '' */
.icon-vector:before { content: '\e83f'; } /* '' */
.icon-vector-pencil:before { content: '\e840'; } /* '' */
.icon-target:before { content: '\e841'; } /* '' */
.icon-clock:before { content: '\e842'; } /* '' */
.icon-ajust:before { content: '\e843'; } /* '' */
.icon-link:before { content: '\e844'; } /* '' */
.icon-unlink:before { content: '\e845'; } /* '' */
.icon-check-empty:before { content: '\e846'; } /* '' */
.icon-toggle-on:before { content: '\e847'; } /* '' */
.icon-toggle-off:before { content: '\e848'; } /* '' */
.icon-hash:before { content: '\e849'; } /* '' */
.icon-flash:before { content: '\e84a'; } /* '' */
.icon-flow-line:before { content: '\e84b'; } /* '' */
.icon-flow-parallel:before { content: '\e84c'; } /* '' */
.icon-shuffle:before { content: '\e84d'; } /* '' */
.icon-exchange:before { content: '\e84e'; } /* '' */
.icon-expand-right:before { content: '\e84f'; } /* '' */
.icon-collapse-left:before { content: '\e850'; } /* '' */
.icon-flag-checkered:before { content: '\e851'; } /* '' */
.icon-paper-plane:before { content: '\e852'; } /* '' */
.icon-flash-1:before { content: '\e853'; } /* '' */
.icon-bug:before { content: '\e854'; } /* '' */
.icon-rocket:before { content: '\e855'; } /* '' */
.icon-chart-line:before { content: '\e856'; } /* '' */
.icon-emo-tongue:before { content: '\e857'; } /* '' */
.icon-emo-shoot:before { content: '\e858'; } /* '' */
.icon-emo-laugh:before { content: '\e859'; } /* '' */
.icon-lifebuoy:before { content: '\e85a'; } /* '' */
.icon-bitbucket:before { content: '\e85b'; } /* '' */
.icon-codeopen:before { content: '\e85c'; } /* '' */
.icon-github:before { content: '\e85d'; } /* '' */
.icon-eyedropper:before { content: '\e85e'; } /* '' */
.icon-brush:before { content: '\e85f'; } /* '' */
.icon-filter:before { content: '\e860'; } /* '' */
.icon-crop:before { content: '\e861'; } /* '' */
.icon-tint:before { content: '\e862'; } /* '' */
.icon-right-dir:before { content: '\e863'; } /* '' */
.icon-left-dir:before { content: '\e864'; } /* '' */
.icon-puzzle:before { content: '\e865'; } /* '' */
.icon-up-dir:before { content: '\e866'; } /* '' */
.icon-gamepad:before { content: '\e867'; } /* '' */
.icon-flag-empty:before { content: '\e868'; } /* '' */
.icon-flag:before { content: '\e869'; } /* '' */
.icon-resize-full-alt:before { content: '\e86a'; } /* '' */
.icon-list-bullet:before { content: '\e86b'; } /* '' */
.icon-block:before { content: '\e86c'; } /* '' */
.icon-language:before { content: '\e86d'; } /* '' */
.icon-lightbulb:before { content: '\e86e'; } /* '' */
.icon-zoom-in:before { content: '\e86f'; } /* '' */
.icon-zoom-out:before { content: '\e870'; } /* '' */
.icon-up-circled2:before { content: '\e871'; } /* '' */
.icon-infinity:before { content: '\e872'; } /* '' */
.icon-barcode:before { content: '\e873'; } /* '' */
.icon-share:before { content: '\e874'; } /* '' */
.icon-info:before { content: '\e875'; } /* '' */
.icon-help:before { content: '\e876'; } /* '' */
.icon-file-video:before { content: '\e877'; } /* '' */
.icon-file-audio:before { content: '\e878'; } /* '' */
.icon-file-image:before { content: '\e879'; } /* '' */