body {
  background: darkcyan;
}

img {
  position: absolute;
}

#base {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100px;
  height: 100px;
}

#artist {
  position: absolute;
  top: 0px;
  right: 0px;
}

#artist img {
  right: 0px;
  width: 123px;
}

.setter {cursor: pointer;}

#shake {left: -25px; top: -77px; cursor: pointer;}
#release {left: -49px; top: 107px; cursor: pointer;}
#lfoot {left: -29px; top: -5px;}
#rfoot {left: 89px; top: -5px;}
#lhand {left: -72px; top: 3px;}
#rhand {left: 131px; top: -6px;}
#lshoulder {left: -29px; top: 65px;}
#rshoulder {left: 82px; top: 66px;}
#head {left: 12px; top: -9px;}